<div class="container-xl mt-4">
  <div class="d-flex align-items-center mb-4">
    <hr class="flex-grow-1 border border-secondary opacity-50 me-3">
    <h2 class="mb-0 text-center" style="white-space:nowrap;">Agenda LPM</h2>
    <hr class="flex-grow-1 border border-secondary opacity-50 ms-3">
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex align-items-stretch">
      <div class="card shadow-sm h-100">
        <div class="card-body text-center">
          <h5 class="card-title">Berita Terbaru</h5>
          <p class="text-muted mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi qui, repellat nesciunt a dolorum recusandae quos tempora laudantium quod suscipit porro animi natus corrupti voluptatum voluptatibus deserunt magni quasi. Culpa.</p>
          <a href="#" class="btn btn-primary btn-sm">Lihat Berita</a>
        </div>
      </div>
    </div>
  <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex align-items-stretch">
      <div class="card shadow-sm h-100">
        <div class="card-body text-center">
          <h5 class="card-title">Dokumentasi Kegiatan</h5>
          <p class="text-muted mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi qui, repellat nesciunt a dolorum recusandae quos tempora laudantium quod suscipit porro animi natus corrupti voluptatum voluptatibus deserunt magni quasi. Culpa.</p>
          <a href="#" class="btn btn-primary btn-sm">Lihat Dokumentasi</a>
        </div>
      </div>
    </div>
  <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex align-items-stretch">
      <div class="card shadow-sm h-100">
        <div class="card-body text-center">
          <h5 class="card-title">Publikasi & Artikel</h5>
          <p class="text-muted mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi qui, repellat nesciunt a dolorum recusandae quos tempora laudantium quod suscipit porro animi natus corrupti voluptatum voluptatibus deserunt magni quasi. Culpa..</p>
          <a href="#" class="btn btn-primary btn-sm">Lihat Publikasi</a>
        </div>
      </div>
    </div>
  </div>
