<!-- BEGIN NAVBAR  -->
      <header class="navbar navbar-expand-md d-print-none">
        <div class="container-xl">
          <!-- BEGIN NAVBAR TOGGLER -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-menu"
            aria-controls="navbar-menu"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- END NAVBAR TOGGLER -->

          <!-- BEGIN NAVBAR LOGO -->
          <div class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3 mx-auto">
            <a href="." aria-label="Tabler"
              >
                <img
                    src="{{ 'assets/img/logo.png'|theme }}"
                    alt="Logo Universitas Duta Bangsa Surakarta"
                    class="navbar-brand-image"
                    height="40"/>
            </a>
          </div>
          <!-- END NAVBAR LOGO -->
          <div class="navbar-nav flex-row order-md-last">
            <div class="nav-item d-none d-md-flex me-3">
              {# <div class="btn-list">
                <a href="https://github.com/tabler/tabler" class="btn btn-5" target="_blank" rel="noreferrer">
                  <!-- Download SVG icon from http://tabler.io/icons/icon/brand-github -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-2"
                  >
                    <path
                      d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                    />
                  </svg>
                  Source code
                </a>
                <a href="https://github.com/sponsors/codecalm" class="btn btn-6" target="_blank" rel="noreferrer">
                  <!-- Download SVG icon from http://tabler.io/icons/icon/heart -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon text-pink icon-2"
                  >
                    <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                  </svg>
                  Sponsor
                </a>
              </div> #}
            </div>
            {# <div class="nav-item dropdown">
              <a href="#" class="nav-link d-flex lh-1 p-0 px-2" data-bs-toggle="dropdown" aria-label="Open user menu">
                <span class="avatar avatar-sm" style="background-image: url(./static/avatars/000m.jpg)"> </span>
                <div class="d-none d-xl-block ps-2">
                  <div>Paweł Kuna</div>
                  <div class="mt-1 small text-secondary">UI Designer</div>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <a href="#" class="dropdown-item">Status</a>
                <a href="./profile.html" class="dropdown-item">Profile</a>
                <a href="#" class="dropdown-item">Feedback</a>
                <div class="dropdown-divider"></div>
                <a href="./settings.html" class="dropdown-item">Settings</a>
                <a href="./sign-in.html" class="dropdown-item">Logout</a>
              </div>
            </div> #}
          </div>
        </div>
      </header>
      <header class="navbar-expand-md">
        <div class="collapse navbar-collapse" id="navbar-menu">
          <div class="navbar">
            <div class="container-xl">
              <div class="row flex-column flex-md-row flex-fill align-items-center justify-content-center">
                <div class="col-auto">
                  <!-- BEGIN NAVBAR MENU -->
                  <ul class="navbar-nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ 'home'|page }}">
                          <span class="nav-link-title"> Home </span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a
                          class="nav-link dropdown-toggle"
                          href="#navbar-base"
                          data-bs-toggle="dropdown"
                          data-bs-auto-close="outside"
                          role="button"
                          aria-expanded="false"
                        >
                          <span class="nav-link-title"> Tentang Kami </span>
                        </a>
                      <div class="dropdown-menu">
                        <div class="dropdown-menu-columns">
                          <div class="dropdown-menu-column">
                            <a class="dropdown-item" href="{{ 'tentang-kami/profile'|page }}"> Profil </a>
                            <a class="dropdown-item" href="{{ 'tentang-kami/struktur-organisasi'|page }}"> Struktur Organisasi </a>
                            <a class="dropdown-item" href="{{ 'tentang-kami/tupoksi'|page }}"> Tupoksi </a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a
                        class="nav-link dropdown-toggle"
                        href="#navbar-form"
                        data-bs-toggle="dropdown"
                        data-bs-auto-close="outside"
                        role="button"
                        aria-expanded="false"
                      >
                        <span class="nav-link-title"> Dokumen Formal SPMI </span>
                      </a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ 'dokumen-formal-spmi/kebijakan-spmi'|page }}"> Kebijakan SPMI </a>
                        <a class="dropdown-item" href="{{ 'dokumen-formal-spmi/standar-spmi'|page }}"> Standar SPMI </a>
                        <a class="dropdown-item" href="{{ 'dokumen-formal-spmi/formulir-spmi'|page }}"> Formulir SPMI </a>
                        <a class="dropdown-item" href="{{ 'dokumen-formal-spmi/manual-mutu'|page }}"> Manual Mutu </a>
                        <a class="dropdown-item" href="{{ 'dokumen-formal-spmi/sop-spmi'|page }}"> SOP SPMI </a>
                        <a class="dropdown-item" href="{{ 'dokumen-formal-spmi/standar-lampauan'|page }}"> Standar Lampauan </a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a
                        class="nav-link dropdown-toggle"
                        href="#navbar-extra"
                        data-bs-toggle="dropdown"
                        data-bs-auto-close="outside"
                        role="button"
                        aria-expanded="false"
                      >
                        <span class="nav-link-title"> Implementasi SPMI </span>
                      </a>
                      <div class="dropdown-menu">
                        <div class="dropdown-menu-columns">
                          <div class="dropdown-menu-column">
                            <a class="dropdown-item" href="{{ 'implementasi-spmi/audit-mutu-internal'|page }}"> Audit Mutu Internal (AMI) </a>
                            <a class="dropdown-item" href="{{ 'implementasi-spmi/monitoring-dan-evaluasi'|page }}"> Monitoring dan Evaluasi (MONEV) </a>
                            <a class="dropdown-item" href="{{ 'implementasi-spmi/rapat-tinjauan-manajemen'|page }}"> Rapat Tinjauan Manajemen </a>
                            <a class="dropdown-item" href="{{ 'implementasi-spmi/laporan-survey-kepuasan'|page }}"> Laporan Survey Kepuasan </a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a
                        class="nav-link dropdown-toggle"
                        href="#navbar-layout"
                        data-bs-toggle="dropdown"
                        data-bs-auto-close="outside"
                        role="button"
                        aria-expanded="false"
                      >
                        <span class="nav-link-title"> Akreditasi </span>
                      </a>
                      <div class="dropdown-menu">
                        <div class="dropdown-menu-columns">
                          <div class="dropdown-menu-column">
                            <a class="dropdown-item" href="{{ 'akreditasi/akreditasi-program-studi'|page }}"> Akreditasi Program Studi </a>
                            <a class="dropdown-item" href="{{ 'akreditasi/akreditasi-perguruan-tinggi'|page }}"> Akreditasi Perguruan Tinggi </a>
                            <a class="dropdown-item" href="{{ 'akreditasi/akreditasi-international-iso'|page }}"> Akreditasi International ISO </a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a
                        class="nav-link dropdown-toggle"
                        href="#navbar-plugins"
                        data-bs-toggle="dropdown"
                        data-bs-auto-close="outside"
                        role="button"
                        aria-expanded="false"
                      >
                        <span class="nav-link-title"> Peningkatan </span>
                      </a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ 'peningkatan/benchmarking'|page }}"> Benchmarking </a>
                        <a class="dropdown-item" href="{{ 'peningkatan/workshop'|page }}"> Workshop </a>
                        <a class="dropdown-item" href="{{ 'peningkatan/rekognisi'|page }}"> Rekognisi </a>
                        <a class="dropdown-item" href="{{ 'peningkatan/auditor'|page }}"> Auditor </a>
                      </div>
                    </li>
                  </ul>
                  <!-- END NAVBAR MENU -->
                </div>
                {# <div class="col col-md-auto">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSettings">
                        <span class="badge badge-sm bg-red text-red-fg">New</span>
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                          <!-- Download SVG icon from http://tabler.io/icons/icon/settings -->
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-1"
                          >
                            <path
                              d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                            />
                            <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                          </svg>
                        </span>
                        <span class="nav-link-title"> Theme Settings </span>
                      </a>
                    </li>
                  </ul>
                </div> #}
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- END NAVBAR  -->
